body {
background-color: black;
}

.dashboard {
display: flex;
flex-direction: column;
}

.main {
display: flex;
flex: 1;
overflow: hidden;
}

/* On mobile: stack vertically */
@media (max-width: 900px) {
    .main {
      flex-direction: column;
    }
  }